@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.appliaction-form .ant-form-item {
  display: flex;
}

.appliaction-form .ant-form-item-control-wrapper {
  flex: 1;
}

.react-tel-input {
  line-height: 34px;
}

.application-table .ant-table-thead th {
  background: #c1effd;
}
