@import '~antd/dist/antd.css';

.react-tel-input {
  line-height: 34px;
}

.citizen-input {
  display: flex;
}
.citizen-input .ant-form-item {
  margin-bottom: 0;
}

.react-tel-input input {
  width: 100% !important;
}

.application-table .ant-table-thead th {
  background: #c1effd;
}

@media screen and (min-width: 576px) {
  .appliaction-form .ant-form-item {
    display: flex;
  }

  .appliaction-form .ant-form-item-control-wrapper {
    flex: 1;
  }
}

@media screen and (max-width: 575px) {
  .application-table .ant-table {
    overflow: scroll;
  }

  .application-table .ant-table td.custom-td-wrap {
    white-space: nowrap;
  }

  .application-table .ant-table th.custom-td-wrap {
    white-space: nowrap;
  }
}
